extends ../layout

block content
  .container
    .card(style="margin-top:15px;")
      .card-header
        h5.text-center(style="margin-bottom: 0;")= title
      if todayUser.length
        table.table.text-center(style="margin-bottom: 0;")
          thead
            tr
              th 姓名
              th 学号
          tbody
            each val in todayUser
              tr
                td= val.name
                td= val.number
      else
        .card-body 很棒，全都同学都出勤了！
